body {
    overflow: hidden;
}

.sidebar
{
    float: left;
}


.chatlist
{
    scroll-padding: 10px;
    float: left;
    width: 30%;
    margin-right: 0%;
}

.list
{
    overflow: auto;
    color: aliceblue;
    background-color: black;
    min-height: 1000px;
}

.chatcard
{
   padding: 1%;
}

.chatcard:hover
{
   padding: 0.7%;
}

.profilephoto
{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-right: 10px;
}

.chat
{
    background-color: grey;
    height: 1000px;
}